In [1]:
import sqlite3

In [2]:
con=sqlite3.connect('tombo.db')

In [3]:
cursor=con.cursor()

In [4]:
cursor.execute('CREATE TABLE user(nome TEXT,matricula INTEGER NOT NULL UNIQUE ,cpf INTEGER VARCHAR(11),celular INTEGER VARCHAR(11),email TEXT UNIQUE,id INTEGER PRIMARY KEY AUTOINCREMENT,password TEXT,status_ativo BOOLEAN DEFAULT 1 NOT NULL,nivel DEFAULT view NOT NULL)')

In [5]:
cursor.execute('CREATE TABLE materials(objeto TEXT NOT NULL,id INTEGER PRIMARY KEY AUTOINCREMENT,status_objeto BOOLEAN DEFAULT 1 NOT NULL)')

In [6]:
cursor.execute('CREATE TABLE tombos(id_materials INTEGER,tombo INTEGER NOT NULL UNIQUE,id INTEGER PRIMARY KEY AUTOINCREMENT, id_user INTEGER,FOREIGN KEY (id) REFERENCES user(id_user),FOREIGN KEY (id) REFERENCES materials(id_materials))')

In [7]:
# cursor.execute ('SELECT * FROM material m INNER JOIN user u ON m.id_user=u.id ')

In [8]:
# cursor.execute('CREATE TABLE user_material(id INTEGER PRIMARY KEY AUTOINCREMENT,id_user INTEGER , id_tombo INTEGER ,FOREIGN KEY (id) REFERENCES user (id_user),FOREIGN KEY (id) REFERENCES material (id_tombo)) ')